.TrainingsOverviewBackground {
  background-image: radial-gradient(
      circle at 0% 50%,
      rgba(55, 87, 174, 0.3),
      transparent 30%
    ),
    radial-gradient(circle at 100% 50%, rgba(255, 146, 5, 0.3), transparent 30%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding: 72px 24px 8px 24px;
}


